.prod-name {
	font-size: 50px;
}

.card-body {
	text-align: center;
	margin: 2% 0 0 0;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon img {
    width: 50px;
	height: 50px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.blog {
	padding: 50px;
	margin: 0 0 100px;
}


#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
